	<div class="row">
		<form id="setup" method="post">
			<div class="row">
				<label for="address" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-offset-3 col-lg-3">DB-szerver címe</label>
				<input id="address" name="address" type="text" value="localhost" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			</div>
			<div class="row">
				<label for="username" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-offset-3 col-lg-3">Felhasználónév</label>
				<input id="username" name="username" type="text" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			</div>
			<div class="row">
				<label for="password" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-offset-3 col-lg-3">Jelszó</label>
				<input id="password" name="password" type="password" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			</div>
			<div class="row">
				<label for="dbname" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 col-lg-offset-3 col-lg-3">Adatbázis neve</label>
				<input id="dbname" name="dbname" type="text" value="test" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			</div>
			<input type="submit" class="center-block" value="Elküld">
		</form>
	</div>
</div>