form {
	padding: 80px 20px 20px 20px;
	border: 2px solid #777;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#userlist {
	padding: 20px;
}

ul {
	padding: 5px;
	
}

li {
	list-style-type: none;

}

div.list-item:nth-child(even) {
	background-color: #f3f1f1;
}
div.list-item:nth-child(odd) {
	background-color: #e2dfdf;
}

input, label {
	padding: 5px;
	margin: 15px;
}

.list-item {
	padding: 5px;

	border-bottom: 2px solid #777;
}